<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Админ</title>

    <meta charset="utf-8" />
    <title>Главная</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" th:href="@{libs/bootstrap/bootstrap-grid-3.3.1.min.css}" />
    <link rel="stylesheet" th:href="@{libs/font-awesome-4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{css/fonts.css}" />
    <link rel="stylesheet" th:href="@{css/main.css}" />
    <link rel="stylesheet" th:href="@{css/media.css}" />

</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>
<div class="mainText">
    <p class="mainText">
        <h2>Привет Админ <span th:utext="${#request.userPrincipal.name}"></span></h2>
        <h3>Эта страница только для Администрации!</h3>
    </p>
</div>
<div class="mainText">
    <p>
        <a th:href="@{/questions}" style="color: darkorchid">Показать вопросы.</a>
    </p>
    <p>
        <a style="color: green" th:href="@{/startTheGame}">Начать игру!!!</a>
    </p>
    <p>
        <a style="color: red" th:href="@{/reset}">Сброс перед игрой!!!</a>
    </p>
    <p>
        <a style="color: #337ab7" th:href="@{/test}">Тестирование для Админов!!!</a>
    </p>
</div>

<script href="libs/jquery/jquery-1.11.1.min.js" th:src="@{libs/jquery/jquery-1.11.1.min.js}"></script>
<script href="js/common.js" th:src="@{js/common.js}"></script>
</body>

</html>