<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Лобби</title>

    <meta charset="utf-8" />
    <title>Главная</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" th:href="@{libs/bootstrap/bootstrap-grid-3.3.1.min.css}" />
    <link rel="stylesheet" th:href="@{libs/font-awesome-4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{css/fonts.css}" />
    <link rel="stylesheet" th:href="@{css/mainW.css}" />
    <link rel="stylesheet" th:href="@{css/mediaW.css}" />

</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div class="mainText">
    <p>Список игроков без команды:</p>
    <ul>
        <li th:each="user : ${users}">
            <button class="userButton" th:utext="${user.username}" href="#"></button>
        </li>
    </ul>
</div>

<script href="libs/jquery/jquery-1.11.1.min.js" th:src="@{libs/jquery/jquery-1.11.1.min.js}"></script>
<script href="js/common.js" th:src="@{js/common.js}"></script>
</body>

</html>