<!DOCTYPE HTML>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактор</title>

    <meta charset="utf-8" />
    <title>Главная</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" th:href="@{libs/bootstrap/bootstrap-grid-3.3.1.min.css}" />
    <link rel="stylesheet" th:href="@{libs/font-awesome-4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{css/fonts.css}" />
    <link rel="stylesheet" th:href="@{css/main.css}" />
    <link rel="stylesheet" th:href="@{css/media.css}" />

</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<form th:action="@{/updateQuestion}" th:object="${question}" method="POST">
    <table>

        <tr>
            <td>Номер</td>
            <td><input type="text" th:field="*{id}"/></td>
        </tr>
        <tr>
            <td>Вопрос</td>
            <td><input type="text" th:field="*{question}"/></td>
        </tr>
        <tr>
            <td>Ответ</td>
            <td><input type="text" th:field="*{answer}" /></td>
        </tr>
        <tr>
            <td>Подсказка 1</td>
            <td><input type="text" th:field="*{tip_1}" /></td>
        </tr>
        <tr>
            <td>Подсказка 2</td>
            <td><input type="text" th:field="*{tip_2}" /></td>
        </tr>
        <tr>
            <td>Подсказка 3</td>
            <td><input type="text" th:field="*{tip_3}" /></td>
        </tr>
        <tr>
            <td>Картинка 1 (url)</td>
            <td><input type="text" th:field="*{img_1}" /></td>
        </tr>
        <tr>
            <td>Картинка 2 (url)</td>
            <td><input type="text" th:field="*{img_2}" /></td>
        </tr>
        <tr>
            <td>Картинка 3 (url)</td>
            <td><input type="text" th:field="*{img_3}" /></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td><input type="submit" value="Send"/></td>
        </tr>
    </table>
</form>



<script href="libs/jquery/jquery-1.11.1.min.js" th:src="@{libs/jquery/jquery-1.11.1.min.js}"></script>
<script href="js/common.js" th:src="@{js/common.js}"></script>
</body>

</html>