<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Главная</title>

    <meta charset="utf-8" />
    <title>Главная</title>
    <meta name="description" content="" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="favicon.png" />
    <link rel="stylesheet" type="text/css" th:href="@{/libs/bootstrap/bootstrap-grid-3.3.1.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/libs/font-awesome-4.2.0/css/font-awesome.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/fonts.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mainW.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/mediaW.css}" />

</head>

<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<div>
    <h3 class="mainText" >Добро пожаловать в "Туман"!</h1>
        <p class="mainText">
            "Туман" это Aвтоквест,
            в котором вам предстоит отгадать немало загадок,
            и немного поездить по нашему прекрасному городу.<br/>
            Мы позаботились о том, чтобы ваше приключение было
            максимально интересным и безопасным!<br/> Формат ввода ответов - названия улиц.<br/>
            Вам так же может понадобиться 2Gis последней версии!<br/>
            Желаем удачи!
        <p>
</div>





<script th:src="@{/libs/jquery/jquery-1.11.1.min.js}"></script>
<script th:src="@{/js/common.js}"></script>
</body>

</html>